<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <a :href="url">
                    <img :src="image" alt="img">
                </a>
            </div>
            <div class="product-info">

                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost Out of Stock</p>
                <p v-else>Out of Stock</p>
                <span v-show="onSale && inStock">On Sale!</span>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="(variant, i) in variants" :key="variant.id" class="color-box" :style="{ backgroundColor: variant.color }" @mouseover="updateVariant(i)">
                </div>
                <ul>
                    <li v-for="(size, i) in sizes" :key="i">{{ size }}</li>
                </ul>

                <button @click="addToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }">Add to Cart</button>
                <button @click="removeFromCart">Remove from Cart</button>
                <div class="cart">
                    <p>Cart ({{ cart }})</p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>

</html>